<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li><a href="/home">Den Frie Druideorden</a></li>
  <li>
    <div style="width: 65px; height: 67px;">.</div>
  </li>
  <li><a href="/home">FORSIDE</a></li>
  <li><a href="/about">OM ORDENEN</a></li>
  <li><a href="/logerne">LOGERNE</a></li>
  <li><a href="/contact">KONTAKT</a></li>
  <li><a href="/login">LOGIN</a></li>
</ul>

<router-outlet></router-outlet>
<div style="width: 100%; background-color: lightgray">
  <div style="width: 1000px; margin-left: auto; margin-right: auto;">
    <div style="display: inline-block; width: 320px; float: left;">
      <h3 style="margin-top: 0px;">DEN FRIE DRUIDEORDEN</h3>
      For os er det vigtigt at holde Broderskabet i højsæde, samtidig med, at vi bibeholder vores gamle traditioner.
    </div>
    <div style="display: inline-block; width: 320px; margin-left: 10px;">
      <h3 style="margin-top: 0px;">Et fællesskab i billeder</h3>
      <div style="margin-left: auto; margin-right: auto; width: 300px;">
        <img id="imga" 
          src="http://localhost:3000/images/footerimages/7star01altCirkel.png" height="200" width="300">
      </div>
    </div>
    <div style="display: inline-block; width: 320px; margin-left: 10px; float: right;"><h3 style="margin-top: 0px;">Kontakt os</h3>
      Du er velkommen til at kontakte os, hvis du har spørgsmål til vor orden.
      Ordensbibliotikaren (Kontaktperson)
      druidepost@dfdo.dk
      Skriv til vores webmaster
      rali@dfdo.dk </div>
  </div>
</div>