<div style="width: 900px; margin-left: auto; margin-right: auto; margin-top: 50px;">

    <div *ngIf="role == 'rookie'">
        <div style="width: 100%; text-align: center; margin-bottom: 50px;">Velkommen i Vategraden!</div>
        <div>
            <div id="filesDownload" style="width: 400px; min-height: 200px; border-style: solid;">
                <div style="margin-right: auto; margin-left: auto; width: 100px; margin-top: 10px;">Download filer</div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>
                <div
                    style="width: 50px; height: 50px; border-style: solid; margin-left: 10px; margin-top: 10px; display: inline-block">

                </div>

            </div>
            <div>

            </div>
        </div>
        I am a rookie!
    </div>
    <div *ngIf="role == 'beginner'">
        I am a beginner!
    </div>
</div>