<div style="width: 900px; margin-left: auto; margin-right: auto; margin-top: 50px;">
    <div style="border-bottom: solid; border-bottom-color: lightgray; border-bottom-width: 1px; padding-bottom: 50px;">
        <div style="display: inline-block">
            <img src="../../assets/images/Logo0301a_top_tekst.png" height="307" width="266">
        </div>
        <div style="display: inline-block; margin-left: 100px;">
            <p style="font-size: 70px; padding: 0; margin: 0;">DEN FRIE</p>
            <p style="font-size: 70px; padding: 0; margin: 0;">DRUIDEORDEN</p>
            <h3>EN UAFHÆNGIG DANSK DRUIDEORDEN</h3>
            <div style="vertical-align: middle;">
                <i class="material-icons"
                    style="display: inline-block; margin: 0px; padding: 0px; width: 30px; vertical-align: middle">location_on_outline</i>
                <p style="display: inline-block; margin: 0px; padding: 0px; line-height: 24px; vertical-align: middle">
                    Haveselskabetsvej 3B, 1823 Frederiksberg C</p>
            </div>
            <div style="vertical-align: middle; margin-top: 10px;">
                <i class="material-icons"
                    style="display: inline-block; margin: 0px; padding: 0px; width: 30px; vertical-align: middle">email_outlined</i>
                <p style="display: inline-block; margin: 0px; padding: 0px; line-height: 24px; vertical-align: middle">
                    druidepost@dfdo.dk </p>
            </div>
            <div style="vertical-align: middle; margin-top: 10px;">
                <i class="material-icons"
                    style="display: inline-block; margin: 0px; padding: 0px; width: 30px; vertical-align: middle">phone</i>
                <p style="display: inline-block; margin: 0px; padding: 0px; line-height: 24px; vertical-align: middle">
                    +45 51920882 </p>
            </div>
        </div>
    </div>
    <div>
        <h3>
            <span
                style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 400; font-style: italic; text-decoration: none;">
                Den Frie Druideorden er en uafhængig druideorden, der bygger på værdier og etikette udsprunget af den
                første
                historiske druideorden der blev stiftet i England i 1781.
                Ordenen har med sin ene grundloge et stærkt fællesskab og et stærkere fundament for en positiv
                udvikling.
            </span>
        </h3>
    </div>
    <div
        style="width: 900px; border-bottom: solid; border-bottom-color: lightgray; border-bottom-width: 1px; padding-bottom: 10px; margin-top: 50px;">
        <div
            style="display: inline-block; width: 400px; border-right: solid; border-right-color: lightgray; border-right-width: 1px; padding-right: 49px;">
            <p><span
                    style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: 1.8;">
                    Om Ordenen</span><br>
                <span
                    style="line-height: 1.8; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal;">
                    Ordenen er det overordnede samlingsled for flere grundloger. På nuværende tidspunkt har Ordenen en
                    enkelt grundloge. Logen Excalibur.
                    Ordenen har til formål at sætte de fælles retnigslinjer for grundlogerne og samle brødrene.
                </span>
            </p>
        </div>
        <div style="display: inline-block; margin-left: 49px; width: 400px;">
            <p><span
                    style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: 1.8;">
                    Om det praktiske</span><br>
                <span
                    style="line-height: 1.8; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal;">
                    At være logebror er noget helt specielt. Det skaber både netværk og udvikling, men det kræver også
                    noget af en som person. Der er en række praktiske og formelle dele af logelivet. Det kan du finde
                    mere information om på nedenstående link.
                </span>
            </p>
        </div>
    </div>
    <div>
        <p>
            <span style="font-family: Open Sans,One Open Sans,Helvetica Neue,Helvetica,sans-serif;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-shadow: none;
            color: #000;">
                ET STÆRKT</span><span style="font-family: Open Sans,One Open Sans,Helvetica Neue,Helvetica,sans-serif;
                font-size: 24px;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                text-shadow: none;
                color: #000; font-weight: bold;"> BRODERSKAB</span><br></p>
        <h3><span style="font-family: Times New Roman,Times,serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-shadow: none;
    color: #000;">
                Et fasttømret sammenhold og stærkt broderskab skaber vi igennem de mødeaktiviteter vi afholder i de
                forskellige grader. Selvom vi med forskellig viden i de forskellige grader, står forskellige steder
                i
                ordenen, står vi alle ryg til ryg og løfter som en fælles styrke.
<br><br>
                Her under, kan ses billeder og kommende aktiviteter
            </span>
        </h3>

    </div>
    <div>
        <div style="display: inline-block">
            <!--<iframe
                src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FCopenhagen&amp;src=YW5kcmVhc2VyaWtzZW4xMEBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZGEuZGFuaXNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&amp;color=%2333B679&amp;color=%230B8043"
                style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>-->
            <iframe
                src="https://calendar.google.com/calendar/embed?src=andreaseriksen10%40gmail.com&ctz=Europe%2FCopenhagen"
                style="border: 0" width="400" height="400" frameborder="0" scrolling="no"></iframe>
        </div>
        <div style="display: inline-block">Billeder</div>
    </div>
</div>