<div style="width: 900px; margin-left: auto; margin-right: auto; margin-top: 50px;">
    <div style="border-bottom: solid; border-bottom-color: lightgray; border-bottom-width: 1px; padding-bottom: 50px;">
        <div style="display: inline-block">
            <img src="../../assets/images/7star01altCirkel.png" height="287" width="287">
        </div>
        <div style="display: inline-block; margin-left: 100px;">
            <h1 style="font-family: sans-serif; font-size: 27px;">Her på siden, kan du læse om følgende.</h1>
            <li>Hvad foregår der i en logen</li>
            <li>Hvem kan blive medlem</li>
            <li>Hvad koster det</li>
            <li>Dresscode</li>
            <li>Hvordan kommer man i betraktning</li>
            <li>Hvad er en Druideloge</li>
            <li>Hvad kan Druidismen tilbyde dig</li>
        </div>
    </div>
    <div style="border-bottom: solid; border-bottom-color: lightgray; border-bottom-width: 1px; padding-bottom: 50px; margin-top: 50px;">
        <div style="display: inline-block; width: 569px; margin-right: 30px;">
            <h2>Hvad foregår der i logen?</h2>
            <p style="font-family: sans-serif; font-size: 16px; font-weight: 400; color: #000;">
                En logeaften er delt i to møder. Det egentlige logemøde, der holdes i en logesal, er forbeholdt logebrødrene.<br><br>
                Ethvert møde har sit åbnings- og afslutningsritual, hvis indhold danner en smuk og rolig ramme om det, vi kalder "arbejdet". De smukke gamle ritualer rummer en tankevækkende symbolik.<br><br> 
                Gennem arbejdet med sig selv bestræber brødrene sig på at forædle deres livsholdning og handlemåde.<br><br>
                Arbejdet er af ideel karakter, og der lægges stor vægt på at udvikle samspillet mellem brødrene.<br><br>
                Målet er at leve i venskab, sammenhold og broderskab med hinanden og verden omkring os. Anden del af logeaftenen koncentrerer sig omkring brodermåltidet og kaldes hos os efterlogen.<br><br>
                Her vil der ofte være foredrag eller indlæg af lødig karakter.<br><br>
                Det er her brødrene lærer hinanden at kende socialt.<br><br>
                Denne del af mødet foregår mere frit, og har som et af sine mål at ryste brødrene sammen.<br><br> 
                Det er her ved brodermåltidet, en ny broder lærer sine brødre at kende  og ved hyppige besøg i sin loge føler sig hurtigt hjemme. 
            </p>
        </div>
        <div style="display: inline-block; width: 299px;">
            <img src="../../assets/images/Book_of_Ballymote_170r_ogham.jpg" height="476" width="299">
        </div>
    </div>
</div>