<div style="width: 900px; margin-left: auto; margin-right: auto; margin-top: 50px;">

    <div>
        <h3>OM DEN FRIE DRUIDEORDEN</h3>



        Her på siden kan du læse nærmere om, hvad det vil sige at være broder i Den frie Druideorden.
        Videoen her under er et podcast om datidens druider, en udsendelse af BBC med Professorer fra Royal Halloway,
        University of London, Oxford University og fra Cardif University.
    </div>
    <div style="margin-top: 50px; margin-bottom: 50px;">
        <div style="display: inline-block; width: 400px; height: 300px;">
                <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/ajCRV5CcEZQ?ecver=1&amp;iv_load_policy=1&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red&amp;width=400&amp;width=400" width="400" height="300" allowtransparency="true" frameborder="0"><div>is the cheapest <a id=IiUQP0yE href="https://www.onecompare.com/apple ">iPhone XS on pay monthly</a></div><div><a id=IiUQP0yE href="https://www.gocartextcheck.co.uk ">here</a></div><script>function execute_YTvideo(){return youtube.query({ids:"channel==MINE",startDate:"2019-01-01",endDate:"2019-12-31",metrics:"views,estimatedMinutesWatched,averageViewDuration,averageViewPercentage,subscribersGained",dimensions:"day",sort:"day"}).then(function(e){},function(e){console.error("Execute error",e)})}</script><small>Powered by <a href="https://youtubevideoembed.com/ ">Embed YouTube Video</a></small></iframe>
        </div>
        <div style="display: inline-block; width: 400px; height: 300px; float: right;">Vi er en brodersammenslutning, der som en del af Den Frie Druideorden, søger
            at opbygge sammenhold og venskab, mellem personer i ind- og udland, hvor samvær og menneskets udvikling
            bliver præget af etik og høj moral.



            Vort Brodersamfund bygger på retfærdighed, velgørenhed og broderkærlighed, og er politisk og religiøst
            neutrale.



            Du kan på siden finde flere oplysninger om ordnen og om logerne, samt læse om både praktiske forhold og om
            vores historiske udgangspunkt.</div>
    </div>
    <div style="margin-bottom: 50px;">
            <h4>Druidismen historisk set</h4>
 

            I 1781 stiftedes Druideordenen i England under mottoet "United to Assist". På den tid fandtes intet socialt sikkerhedsnet, og ideen med Druideordenen var da også af filantropisk art. Som samfundet har udviklet sig, og en stor del af den sociale velfærd klares af det offentlige, er den del af arbejdet ikke mere hovedformålet.
            
             
            
            I England fik ordenen hurtigt stor udbredelse, og bredte sig til flere engelsktalende lande. I USA stiftedes den første druideloge i 1830. I 1851 kom Australien med og senere også New Zealand.
            
             
            
            Fra USA kom ordenen i 1872 tilbage til Europa, hvor den første tyske loge stiftedes i Berlin. Fra Sverige, hvor den i 1904 blev grundlagt i Malmö, kom den i 1921 til Danmark.
            
             
            
            Nu findes der også druider i Norge, Island, Finland, Holland, Tyskland og Schweiz.
    </div>
    <div>
            <h4>Fortidens druider</h4>

 

            Kelterne tilhørte den indoeuropæiske eller ariske race og var sandsynligvis den første folkestamme som omkring 2500 f.Kr. brød op fra indoeuropæernes urhjem ved sydvest- skråningerne af det asiatiske højland. Mellem år 700 og 600 f.Kr. foregik der store keltiske folkevandringer fra øst indover det europæiske fastland. I de følgende århundreder fortsatte vandringerne mod England, Irland, Spanien og Italien.
            
             
            
            Druiderne var kelternes præster, lærere og læger. Overleveringerne fortæller at de kunne føre deres slægt tilbage til Noa og at de var monoteister. Druiderne havde stor magt over folket til trods for at de ikke bar våben. Magten tilegnede de sig gennem kundskaber på en række områder. Disse kundskaber blev overført mundtligt til eleverne gennem mangeårige læreperioder. Intet blev skrevet ned. Derfor har der til alle tider været megen mystik knyttet til druidernes historie.
            
             
            
            Omkring år 300 f.Kr. stod kelterne på højden af deres magt da de erobrede Roma under det som romerne kaldte "den galliske forfærdelse". Romerne brugte nemlig betegnelsen gallere om kelterne. Under de to følgende århundreder blev kelterne slået tilbage, først af kartagerne i Spanien og senere af romerne som gradvist udvidede sit herredømme indtil også det meste af Britannia var nedkæmpet. Som nævnt ovenfor har vi ingen sikre kilder om druiderne fra de ældste tider fordi deres kundskaber blev ført videre mundtligt. De ældste skriftlige beretninger går tilbage til ca. 200 år f.Kr.
            
             
            
            Hovedkilden til vor kundskab om druiderne, er Julius Cæsars historiske værk fra romernes felttog i Gallia (58-52 f.Kr.). Det vi ved derfra er at druiderne blev betragtet som en mellemting mellem guddommen og menneskene, og at folk anså dem for at have magiske kræfter. De tolkede guds vilje og de havde kundskab om lægemidler. De var fritaget for krigstjeneste og for at betale skatter, og de var i kraft af deres position dommere i retssager. Druiderne troede på sjælens udødelighed, og de lærte at sjælen gennemgår tre udviklingstrin: den laveste kreds, lykkens kreds og det uendeliges kreds. Mennesket skulle gennem modgang, lidelse og sorg besejre sin onde natur og vinde herredømmet over sig selv. Når dette var opnået, kom man over i den anden kreds, lykkens kreds, for til slut at skulle nå det uendeliges kreds. 
    </div>

</div>